/* reset default styles */
body, h1, h2, p{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-size:cover;
  background-position: center;
  text-align: center;
  background-color: #eeeeee;
  transform: scale(0.7);
}

header{
  text-align:center;
  padding:20px;
}

header, h1{
  font-size:2em;
  margin-bottom:10px;
}

header img {
  width:150px;
  height:150px;
  border-radius:50%;
  margin-top:10px;
  border:3px solid #333;
}

main {
  max-width:800px;
  margin:0 auto;
  padding:20px;
  background-color: #eee;
  border-radius:11px;
  box-shadow: 0 0 11px rgb(0, 0, 0);

}

section{
  margin-bottom: 21px;
}

h2{
  font-size:1.2em;
  line-height:1.5;
}

p{
  font-size: 1.3em;
  margin-bottom:11px;
}
/* styling the frontend track section differently*/
section:last-child {
  background-color: rgba(255, 255, 255, 0.4);
  padding:16px;
  border-radius:6px;
  text-align:center;
}

.center-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:20px;
  }

  .center-text{
      display:flex;
      justify-content:center ;
      color:#333;
  }

  .move-right{
      justify-content: center;
      display: flex;
  }

  .move-right1{
      justify-content: center;
      display: flex;
      margin-top: 8px;
  }

  button {
    background-color: rgb(212, 212, 212);
    color: rgb(60, 60, 60);
    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    transition: 150ms ease-in-out;
    margin-top: 50px;
    justify-content: center;
    margin: 50px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(159, 159, 159);
    transition: 150ms ease-in-out;
  }

  .custom-link{
    color:white;
    cursor: pointer;
    
  }


.custom-link:hover{
transform: scale(1.05);
}